<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
  <link rel="stylesheet" href="style.css">
  <meta charset="utf-8">
  <title>Genie Package Manager</title>
</head>

<body>
  <div id="app"> 
    <div class="card-divider container-fluid">
      <div class="container">
        <h4>Installed Packages</h4>
      </div>
    </div>

    <div class="parent container-fluid">
      <div class="container">
        <ul class="list-group container" v-for="(version, packageName) in results">
          <li class="list-group-item active">
              <div class="child-label"> {{ packageName }} | v{{version}} </div>
              <div class="tiny child-button button-group">
                <a class="button update-button" @click="updatePackage(packageName)"><span data-tooltip :title=" 'update package: '+ packageName + '?'">Update</span></a>
                <a class="button secondary" @click="removePackage(packageName)"><span data-tooltip :title=" 'remove package: ' + packageName + '?'">Remove</span></a>
              </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="container-fluid">
      <div class="container px-0">
      <form class="parent">
        <div class=" row">
            <div class="col-lg parent-install">
            
                  <fieldset class="fieldset">
                    <legend>Install Package</legend>
                      <ul>
                        <li>input package by name i.e. <code>Genie</code></li>
                        <li>or input package by name and version i.e. <code>Genie@4.17.2</code></li>
                        <li>or by github url i.e. <code>https://github.com/GenieFramework/Genie.jl.git</code></li>
                      </ul>
                      <div class="child-install">
                        <input 
                        type="text" 
                        placeholder="type name/git url of package" 
                        v-model="toAddPackage"/>
                      </div>
                      <!-- <div class="child-install">  -->
                        <input 
                        id="devpkg" 
                        type="checkbox"
                        v-model="dev"/>
                        <label for="devpkg">dev package</label>
                        <a class="button tiny" @click="addPackage"><span data-tooltip :title=" 'Add Package ' + toAddPackage + '?'">Add</span></a>
                      <!-- </div> -->
                  </fieldset>
            </div>

            <div class="col-lg parent-install">
            
              <fieldset class="fieldset">
                <legend>Update all Packages</legend>
                  <p>Note: This functionality may break your application and force you to manually
                  resolve package conflicts. Use with caution.</p>
                  
                  <input 
                  id="uppkgs" 
                  type="checkbox"
                  v-model="updateAll"/>
                  <label for="uppkgs">Are you sure you want to update all packages?</label>
                  <a class="button tiny" @click="updateAllPackages"><span data-tooltip title="Update all Packages?">Update</span></a>
            
              </fieldset>
            </div>
        
        </div>
      </form>
    </div>
    </div>
  </div> <!-- end container -->

  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="main.js"></script>
</body>

</html>