@font-face {
  font-family: 'Inter',sans-serif;
  src: url("/views/Inter/static/Inter-Regular.ttf");
}


html,h4,div.child-lavel,a.button,.child-label,fieldset{
  font-family: 'Inter',sans-serif!important;
  color:#4A4947;
  font-weight:500;
  font-size:15px;
  
}

html{ 
  margin: 0 !important; 
  padding:0!important;
  background-color: #F9F8F6;
} 




#app{
  background-color: #F9F8F6;
}
.container.installed-packages{
  margin:0!important;
}
h4{
  font-weight:500;
  font-size:22px;
  margin-bottom:0;
}

.card-divider{
    background-color: white;
    margin-bottom: 30px;
    color:#4A4947;
    box-shadow: 0px 4px 10px 0px #0000001A;
    padding-top:1.4rem;
    padding-bottom:1.4rem;

}
div.parent.container-fluid{
  margin:0!important;
}



.button {
    background-color: #457CFF;
    border-radius:3px;
    color: white!important;
    margin-right:7px!important;
    font-size:12px!important;
    margin-bottom:0;
}

.button:hover{
    background-color: #6190FF!important;
    color: white;
}
.button.secondary {
  background-color: #EBF1FF;
  border-radius:3px;
  color: #457CFF!important;
  margin-right:0px!important;
}

.button.secondary:hover{
  background-color: #DDE7FF!important;
  color: #457CFF;
}





.list-group.container {
  margin-bottom: 1rem;
  border: 1px solid #E7E6E3;
  border-radius: 3px;
  background: #fefefe;
  box-shadow: none;
  color: #0a0a0a;
  margin-left:0!important;
  padding-right:0!important; 
  margin-right:0!important;
}

.list-group-item {
  margin-right:0!important;
  border-color:transparent!important;
  padding: 1rem;
  display:flex;
  justify-content:space-between;
  

}
.list-group-item.active{
  background-color: #ffffff;
}
.child-label {
  font-size:15px;
  color: #5a5855;
  display:flex;
  vertical-align:Center;
  margin:auto 0px;
}
.list-group > :last-child {
  margin-bottom: 0;
}
.list-group-item > :last-child {
  margin-bottom: 0;
  border-bottom: none;
}



.row{
  max-width:none!important;
}
fieldset{
  border-radius:3px;
  background-color:white!important;
  border:1px solid #E7E6E3!important;
}
fieldset>legend{
  background:transparent!important;
  font-size:18.5px!important;
  margin-bottom:6px!important;

}
fieldset>ul{
  font-size:14px!important;
  font-weight:400!important;
  line-height:24px!important;
}
fieldset>p{
  font-size:14px!important;
  font-weight:400!important;
  line-height:19px!important;
}
input[type=text]{
  border-radius:3px!important;
  border: 1px solid #d7d6d2!important;
}
input[type=text]:focus{
  border:1px solid #AEC6FF;
  box-shadow:none!important;
}
input::placeholder{
  font-size:14px!important;
}

input[type=checkbox]{
  margin:auto 0px!important;
  border: 1px solid #d7d6d2!important
}
label{
  color:#4A4947!important;
}
code{
  background: #f1f4f4;
  color: #5b6168!important;
  border-radius:4px!important;
  padding: 3px;
  border:none!important;
  font-family: var(--bs-font-monospace)!important;
  font-size:13px!important;
  unicode-bidi: bidi-override;
}







